@media only screen and (max-width: 1100px) {
    .ads-footer {
        display: none;
    }
}

body{
    background-color: #c4c4c4;
    font-family: Sansation, sans-serif; !important;

}

.header, .nav-button, .skills-list, .my-photo, .form, .footer{
    border-radius: 10px;
    background: #585858;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header{
    height: 10em;
    margin-top: 1em;
    margin-left: 5em;
}

.header_title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.08em;
    margin-top: 3.4%;

    color: #FFFFFF;
}


.nav-button {
    margin-top: 2.5em;
    margin-left: 5em;
    text-decoration: none;
    transition: 0.3s;
}

.nav-button:hover {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.nav-button-text {
    color: white;
    margin-top: 0.5em;
}

.skills-list, .my-photo {
    margin-top: 3em;
    margin-left: 6.5em;
    width: 30em;
    height: 29em;
}


.skills-list-text {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;

    text-align: center;

    color: #FFFFFF;

}

.skills-list-ul {
    color: #FFFFFF;
    font-size: 1.5em;
}

.skills-list-li {
    margin-top: 1em;
}

.my-photo {
    background-image: url("img/me.jpg");
    background-repeat: no-repeat;
}

.form {
    height: 30em;
    margin-top: 2em;
    margin-bottom: 8em;
}

.footer {
    height: 6.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}